/Lection1/Factory Method/.idea/
/Lection1/Factory Method/cmake-build-debug/

/Lection2/code_review/.idea/
/Lection2/code_review/cmake-build-debug/
/Lection2/code_review/Розбір типових помилок на прикладах Code Review - HomeWork.docx
/Lection2/code_review/Code review (1).pptx
/Lection2/code_review/Розбір типових помилок на прикладах Code Review - HomeWork.docx
/Lection2/code_review/Розбір типових помилок на прикладах Code Review - Notes.docx

/Lection3/raii_project/.idea/
/Lection3/raii_project/cmake-build-debug/